body {
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

figcaption {
  margin-bottom: 32px;
  font-size: 14px;
  width: 72%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.left img {
  font-size: 52px;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

.right li a {
  text-decoration: none;
  color: #ffffff;
}

.right li a:hover { color:#0080ff}
.right li a:active { color: #0d128c}


h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.author {
  margin-top: 10px;
margin-bottom: 20px;
font-size: 90%;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text {
  line-height: 1.5;
}
