body {
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.left img {
  font-size: 52px;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link { color:#191955; } /* unvisited */
a:visited { color:#7f7fff; } /* visited */
a:hover { color:#0080ff; } /* mouse over */
a:active { color:#004c4cff; } /* selected */

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text {
  line-height: 1.5;
}
